:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    font-family: 'Merriweather Sans', sans-serif;
}


body {
    background-color: var(--body-bg-color);
}

aside {
    max-width: 348px;
}

header, .social-medias {
    background-color: var(--bg-cards);
    border-radius: 15px;
    padding: 1rem;
}

.social-medias li a {
    color: var(--text-color);
    font-size: 13px;
}

.social-medias ul {
    list-style: none;
}

.social-medias ul li a {
    text-decoration: none;
}

.social-medias i {
    padding: 0.5rem;
}

header {

}

header img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid #00FF00;
}

